.card-section-2 {
    margin: 0 1.875rem;
    .card-calender {
        @include flex(row);
        background-color: $white;
        border-radius: 1.25rem;
        .august-calender {
            display: none;
            width: 18.75rem;
            padding: 1.25rem;
            &-title {
                @include flex-jc-ai(row , center , center);
                padding: 1.25rem 0;
                h5 {
                    font-size: 0.9375rem;
                }
                a {
                    margin-left: 0.625rem;
                    color: black;
                }
            }
            &-weeks {
                @include flex-jc-ai(row , space-between , center);
                width: 15rem;
                font-weight: bolder;
                padding-left: 0.9375rem;
            }
            &-days {
                padding: 0.9375rem 0.625rem;
                width: 16.25rem;
                
                li {
                    display: inline-block;
                    text-align: center;
                    width: 1.875rem;
                    padding: 0 0.625rem;
                    font-size: 1rem;
                }
            }
        }
        .september-calender {
            width: 18.75rem;
            padding: 1.25rem;
            &-title {
                @include flex-jc-ai(row , center , center);
                padding: 1.25rem 0;
                h5 {
                    font-size: 0.9375rem;
                }
                a {
                    margin-left: 0.625rem;
                    margin-right: 0.625rem;
                    color: black;
                }
            }
            &-weeks {
                @include flex-jc-ai(row , space-between , center);
                width: 15rem;
                font-weight: bolder;
                padding-left: 0.9375rem;
            }
            &-days {
                padding: 0.9375rem 0.625rem;
                width: 16.25rem;
                
                li {
                    display: inline-block;
                    text-align: center;
                    width: 1.875rem;
                    padding: 0 0.625rem;
                    font-size: 1rem;
                }
            }
        }
        .october-calender {
            display: none;
            width: 18.75rem;
            padding: 1.25rem;
            &-title {
                @include flex-jc-ai(row , center , center);
                padding: 1.25rem 0;
                h5 {
                    font-size: 0.9375rem;
                    margin-left: 0.625rem;
                }
                a {
                    color: black;
                }
            }
            &-weeks {
                @include flex-jc-ai(row , space-between , center);
                width: 15rem;
                font-weight: bolder;
                padding-left: 0.9375rem;
            }
            &-days {
                padding: 0.9375rem 0.625rem;
                width: 16.25rem;
                
                li {
                    display: inline-block;
                    text-align: center;
                    width: 1.875rem;
                    padding: 0 0.625rem;
                    font-size: 1rem;
                }
            }
        }
    }
}