.dual-section-cards {
    .card-section-1{
        margin-right: 1.25rem;
        .welcome-card {
            background-color: $darkBackground;
            padding: 1.875rem 1.25rem;
            color: $white;
            width: 58vw;
            height: 18vh;
            border-radius: 1.25rem;
            margin: 1.25rem 0;
            .card-greetings {
                font-size: 0.8125rem;
            }
        }
        .activity-card {
            background-color: $white;
            width: 58vw;
            height: 58vh;
            padding: 0.9375rem;
            border-radius: 1.25rem;
            margin-bottom: 1.25rem;
            .activity-title-bar {
                @include flex-jc-ai(row , space-between , center);
                margin-bottom: 0.9375rem;
                .activity-month-week {
                    background-color: $darkBackground;
                    border-radius: 0.9375rem;
                    font-size: 0.625rem;
                    padding: 0.5rem 0.625rem;
                    .week-check-label {
                        color: $white;
                        padding: 0.3125rem 0.625rem;
                        border-radius: 1.25rem;
                    }
                    .week-check {
                        display: none;
                    }
                    .month-check-label {
                        margin-left: 0.625rem;
                        color: $white;
                        padding: 0.3125rem 0.625rem;
                        border-radius: 1.25rem;
                    }
                    .month-check {
                        display: none;
                    }
                }
            }
            .activity-card-body {
                @include flex(row);
                .side-numbar {
                    @include flex-jc-ai(column , center , center);
                    span {
                        padding: 0.9375rem 0;
                        color: $textMuted;
                        font-size: 0.8125rem;
                    }
                }
                .card-graph {
                    .total-months {
                        display: block;
                        padding: 0 0 1.875rem 1.75rem;
                        width: 53.125rem;
                        span {
                            padding: 0 1.25rem;
                            color: $textMuted;
                            font-size: 0.8125rem;
                        }
                    }
                    .month-week-graph-container {

                        .month-container {
                            display:block;
                            .card-graph-month {
                                @include flex-jc-ai(row , space-between , flex-end);
                                height: 18.75rem;
                                width: 51.25rem;
                                padding: 0 0 2.5rem 3.125rem;
                                .month-activity {
                                    width: 1.25rem;
                                    height: 1.25rem;
                                    border-radius: 1.875rem;
                                    background-color: $thickOrange;
                                    &::before {
                                        content: '';
                                        display: block;
                                        position: relative;
                                        bottom: 6.25rem;
                                        height: 3.75rem;
                                        width: 1.25rem;
                                        border-radius: 1.875rem;
                                        background-color: $thickOrange;
                                    }
                                    &:nth-child(1) {
                                        &::before {
                                            content: '';
                                            bottom: 11.25rem;
                                            height: 9.375rem;
                                            background-color: $thickOrange;
                                        }
                                    }
                                    &:nth-child(2) {
                                        background-color: $darkBackground;
                                        &::before {
                                            content: '';
                                            bottom: 7.5rem;
                                            height: 6.25rem;
                                            background-color: $darkBackground;
                                        }
                                    }
                                    &:nth-child(3) {
                                        &::before {
                                            content: '';
                                            bottom: 12.5rem;
                                            height: 11.25rem;
                                            background-color: $thickOrange;
                                        }
                                    }
                                    &:nth-child(4) {
                                        background-color: $darkBackground;
                                        &::before {
                                            content: '';
                                            bottom: 10.625rem;
                                            height: 5rem;
                                            background-color: $darkBackground;
                                        }
                                    }
                                    &:nth-child(5) {
                                        &::before {
                                            content: '';
                                            bottom: 12.5rem;
                                            height: 8.75rem;
                                            background-color: $thickOrange;
                                        }
                                    }
                                    &:nth-child(6) {
                                        background-color: $darkBackground;
                                        &::before {
                                            content: '';
                                            bottom: 15.625rem;
                                            height: 6.25rem;
                                            background-color: $darkBackground;
                                        }
                                    }
                                    &:nth-child(7) {
                                        background-color: $darkBackground;
                                        &::before {
                                            content: '';
                                            bottom: 12.5rem;
                                            height: 7.5rem;
                                            background-color: $darkBackground;
                                        }
                                    }
                                    &:nth-child(8) {
                                        &::before {
                                            content: '';
                                            bottom: 13.75rem;
                                            height: 8.75rem;
                                            background-color: $thickOrange;
                                        }
                                    }
                                    &:nth-child(9) {
                                        &::before {
                                            content: '';
                                            bottom: 15.625rem;
                                            height: 6.25rem;
                                            background-color: $thickOrange;
                                        }
                                    }
                                    &:nth-child(10) {
                                        &::before {
                                            content: '';
                                            bottom: 12.5rem;
                                            height: 5rem;
                                            background-color: $thickOrange;
                                        }
                                    }
                                    &:nth-child(11) {
                                        background-color: $darkBackground;
                                        &::before {
                                            content: '';
                                            bottom: 12.5rem;
                                            height: 10.625rem;
                                            background-color: $darkBackground;
                                        }
                                    }
                                    &:nth-child(12) {
                                        background-color: $darkBackground;
                                        &::before {
                                            content: '';
                                            bottom: 15rem;
                                            height: 5rem;
                                            background-color: $darkBackground;
                                        }
                                    }
                                }
                            }
                        }



                        .week-container {
                            display: none;
                            .card-graph-week {
                                @include flex-jc-ai(row , space-between , flex-end);
                                height: 18.75rem;
                                width: 51.25rem;
                                padding: 0 0 2.5rem 3.125rem;
                                .week-activity {
                                    width: 1.25rem;
                                    height: 1.25rem;
                                    border-radius: 1.875rem;
                                    background-color: $thickOrange;
                                    &::before {
                                        content: '';
                                        display: block;
                                        position: relative;
                                        bottom: 6.25rem;
                                        height: 3.75rem;
                                        width: 1.25rem;
                                        border-radius: 1.875rem;
                                        background-color: $thickOrange;
                                    }
                                    &:nth-child(1) {
                                        &::before {
                                            content: '';
                                            bottom: 11.25rem;
                                            height: 9.375rem;
                                            background-color: $thickOrange;
                                        }
                                    }
                                    &:nth-child(2) {
                                        background-color: $darkBackground;
                                        &::before {
                                            content: '';
                                            bottom: 7.5rem;
                                            height: 6.25rem;
                                            background-color: $darkBackground;
                                        }
                                    }
                                    &:nth-child(3) {
                                        &::before {
                                            content: '';
                                            bottom: 12.5rem;
                                            height: 11.25rem;
                                            background-color: $thickOrange;
                                        }
                                    }
                                    &:nth-child(4) {
                                        background-color: $darkBackground;
                                        &::before {
                                            content: '';
                                            bottom: 10.625rem;
                                            height: 5rem;
                                            background-color: $darkBackground;
                                        }
                                    }
                                    &:nth-child(5) {
                                        &::before {
                                            content: '';
                                            bottom: 12.5rem;
                                            height: 8.75rem;
                                            background-color: $thickOrange;
                                        }
                                    }
                                    &:nth-child(6) {
                                        background-color: $darkBackground;
                                        &::before {
                                            content: '';
                                            bottom: 15.625rem;
                                            height: 6.25rem;
                                            background-color: $darkBackground;
                                        }
                                    }
                                    &:nth-child(7) {
                                        background-color: $darkBackground;
                                        &::before {
                                            content: '';
                                            bottom: 12.5rem;
                                            height: 7.5rem;
                                            background-color: $darkBackground;
                                        }
                                    }
                                    &:nth-child(8) {
                                        &::before {
                                            content: '';
                                            bottom: 13.75rem;
                                            height: 8.75rem;
                                            background-color: $thickOrange;
                                        }
                                    }
                                    &:nth-child(9) {
                                        &::before {
                                            content: '';
                                            bottom: 15.625rem;
                                            height: 6.25rem;
                                            background-color: $thickOrange;
                                        }
                                    }
                                    &:nth-child(10) {
                                        &::before {
                                            content: '';
                                            bottom: 12.5rem;
                                            height: 5rem;
                                            background-color: $thickOrange;
                                        }
                                    }
                                    &:nth-child(11) {
                                        background-color: $darkBackground;
                                        &::before {
                                            content: '';
                                            bottom: 12.5rem;
                                            height: 10.625rem;
                                            background-color: $darkBackground;
                                        }
                                    }
                                    &:nth-child(12) {
                                        background-color: $darkBackground;
                                        &::before {
                                            content: '';
                                            bottom: 15rem;
                                            height: 5rem;
                                            background-color: $darkBackground;
                                        }
                                    }
                                    &:nth-child(13) {
                                        background-color: $darkBackground;
                                        &::before {
                                            content: '';
                                            bottom: 10.625rem;
                                            height: 5rem;
                                            background-color: $darkBackground;
                                        }
                                    }
                                    &:nth-child(14) {
                                        &::before {
                                            content: '';
                                            bottom: 12.5rem;
                                            height: 5rem;
                                            background-color: $thickOrange;
                                        }
                                    }
                                    &:nth-child(15) {
                                        &::before {
                                            content: '';
                                            bottom: 11.25rem;
                                            height: 9.375rem;
                                            background-color: $thickOrange;
                                        }
                                    }
                                    &:nth-child(16) {
                                        &::before {
                                            content: '';
                                            bottom: 12.5rem;
                                            height: 8.75rem;
                                            background-color: $thickOrange;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}