
.container {
    display: flex;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 10vw;
}

.main {
    width: 90vw;
    margin-left: 145px;
}

.dual-section-cards {
    display: flex;
}