.project-card {
    background-color: $white;
    margin: 1.25rem 0;
    @include flex-jc-ai(row , none , center);
    padding: 0.625rem 0.9375rem;
    border-radius: 1.25rem;
    &-icon {
        font-size: 1.875rem;
        padding: 0.625rem 0.625rem 0.625rem 0;
        color: $black;
    }
    &-title {
        small {
            font-size: 0.6875rem;
        }
        h2 {
            font-size: 0.9375rem;
        }
    }
    &-nav {
        margin-left: auto;
        background-color: $liteBackground;
        padding: 0.3125rem 0.625rem;
        border-radius: 0.625rem;
    }
}

.completed-card {
    background-color: $white;
    margin: 1.25rem 0;
    @include flex-jc-ai(row , none , center);
    padding: 0.625rem 0.9375rem;
    border-radius: 1.25rem;
    &-icon {
        font-size: 1.875rem;
        padding: 0.625rem 0.625rem 0.625rem 0;
        color: $black;
    }
    &-title {
        small {
            font-size: 0.6875rem;
        }
        h2 {
            font-size: 0.9375rem;
        }
    }
    &-nav {
        margin-left: auto;
        background-color: $liteBackground;
        padding: 0.3125rem 0.625rem;
        border-radius: 0.625rem;
    }
}

.earn-card {
    background-color: $white;
    margin: 1.25rem 0;
    @include flex-jc-ai(row , none , center);
    padding: 0.625rem 0.9375rem;
    border-radius: 1.25rem;
    &-icon {
        font-size: 1.875rem;
        padding: 0.625rem 0.625rem 0.625rem 0;
        color: $black;
    }
    &-title {
        small {
            font-size: 0.6875rem;
        }
        h2 {
            font-size: 0.9375rem;
        }
    }
    &-nav {
        margin-left: auto;
        background-color: $liteBackground;
        padding: 0.3125rem 0.625rem;
        border-radius: 0.625rem;
    }
}