.main {
    padding: 0.625rem 2.8125rem;
    background-color: $liteBackground;
    .task-bar {
        @include flex-jc-ai(row , none, center);
        padding: 0.9375rem 0;
        &-title {
            font-weight: bolder;
            margin-right: 1.875rem;
        }
        &-form {
            input {
                padding: 0.625rem 1.875rem;
                border: 0.0625rem solid rgba(0, 0, 0, 0.24);
                border-radius: 1.875rem;
                outline: none;
                box-shadow: 0.0625rem 0.0625rem 0.625rem rgba(0, 0, 0, 0.116);
                width: 18.75rem;
            }
        }
        &-calender {
            margin-left: auto;
            margin-right: 3.75rem;
            font-size: 1.25rem;
            time {
                font-size: 0.8125rem;
                font-weight: bolder;
            }
        }
        &-dropdown {
            margin-right: 0.625rem;
            select {
                border: none;
                background-color: transparent;
                outline: none;
                font-size: 0.8125rem;
            }
        }
        &-notification {
            a {
                font-size: 1.5625rem;
                color: $black;
            }
        }
    }
}