$darkBackground: #03045e;
$liteBackground: #dbe9eeaf;
$white: white;
$black: black;
$extraDarkColor: #010227;
$thickOrange: #e76f51;
$liteBlue: #caf0f8;
$textBlue: #48cae4;
$liteGreen: #bfffbc;
$textGreen: #38b000;
$liteYellow: #fcefb49f;
$textYellow: #ecc743;
$textMuted: rgba(0, 0, 0, 0.486);
