.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  -ms-flex-preferred-size: 10vw;
      flex-basis: 10vw;
}

.main {
  -ms-flex-preferred-size: 90vw;
      flex-basis: 90vw;
}

.dual-section-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

button {
  outline: none;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.sidebar {
  background-color: #03045e;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar-profile {
  color: white;
  text-align: center;
}

.sidebar-profile-avator {
  width: 4vw;
  height: 4vw;
  margin-top: 20px;
}

.sidebar-profile-name {
  font-size: 13px;
}

.sidebar-profile-status {
  font-weight: lighter;
  font-size: 11px;
}

.sidebar-navs .sidebar-menu .sidebar-item {
  text-align: center;
  margin: 20px 0;
}

.sidebar-navs .sidebar-menu .sidebar-item:hover {
  background-color: #e76f51;
}

.sidebar-navs .sidebar-menu .sidebar-item .sidebar-link {
  font-size: 35px;
  color: white;
}

.sidebar-log-out {
  text-align: center;
  margin: auto 0 20px 0;
}

.sidebar-log-out a {
  font-size: 35px;
  color: white;
}

.sidebar-log-out a i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main {
  padding: 10px 45px;
  background-color: #dbe9eeaf;
}

.main .task-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.main .task-bar-title {
  font-weight: bolder;
  margin-right: 30px;
}

.main .task-bar-form input {
  padding: 10px 30px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 30px;
  outline: none;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.116);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.116);
  width: 300px;
}

.main .task-bar-calender {
  margin-left: auto;
  margin-right: 60px;
  font-size: 20px;
}

.main .task-bar-calender time {
  font-size: 13px;
  font-weight: bolder;
}

.main .task-bar-dropdown {
  margin-right: 10px;
}

.main .task-bar-dropdown select {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 13px;
}

.main .task-bar-notification a {
  font-size: 25px;
  color: black;
}

.dual-section-cards .card-section-1 {
  margin-right: 20px;
}

.dual-section-cards .card-section-1 .welcome-card {
  background-color: #03045e;
  padding: 30px 20px;
  color: white;
  border-radius: 20px;
  margin: 20px 0;
}

.dual-section-cards .card-section-1 .welcome-card .card-greetings {
  font-size: 13px;
}

.dual-section-cards .card-section-1 .activity-card {
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.dual-section-cards .card-section-1 .activity-card .activity-title-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.dual-section-cards .card-section-1 .activity-card .activity-title-bar .activity-month-week {
  background-color: #03045e;
  border-radius: 15px;
  font-size: 10px;
  padding: 8px 10px;
}

.dual-section-cards .card-section-1 .activity-card .activity-title-bar .activity-month-week .week-check-label {
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}

.dual-section-cards .card-section-1 .activity-card .activity-title-bar .activity-month-week .week-check {
  display: none;
}

.dual-section-cards .card-section-1 .activity-card .activity-title-bar .activity-month-week .month-check-label {
  margin-left: 10px;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}

.dual-section-cards .card-section-1 .activity-card .activity-title-bar .activity-month-week .month-check {
  display: none;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .side-numbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .side-numbar span {
  padding: 15px 0;
  color: rgba(0, 0, 0, 0.486);
  font-size: 13px;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .total-months {
  display: block;
  padding: 0 0 30px 28px;
  width: 850px;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .total-months span {
  padding: 0 20px;
  color: rgba(0, 0, 0, 0.486);
  font-size: 13px;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .month-container {
  display: block;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .month-container .card-graph-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 300px;
  width: 820px;
  padding: 0 0 40px 50px;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .month-container .card-graph-month .month-activity {
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background-color: #e76f51;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .month-container .card-graph-month .month-activity::before {
  content: '';
  display: block;
  position: relative;
  bottom: 100px;
  height: 60px;
  width: 20px;
  border-radius: 30px;
  background-color: #e76f51;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .month-container .card-graph-month .month-activity:nth-child(1)::before {
  content: '';
  bottom: 180px;
  height: 150px;
  background-color: #e76f51;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .month-container .card-graph-month .month-activity:nth-child(2) {
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .month-container .card-graph-month .month-activity:nth-child(2)::before {
  content: '';
  bottom: 120px;
  height: 100px;
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .month-container .card-graph-month .month-activity:nth-child(3)::before {
  content: '';
  bottom: 200px;
  height: 180px;
  background-color: #e76f51;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .month-container .card-graph-month .month-activity:nth-child(4) {
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .month-container .card-graph-month .month-activity:nth-child(4)::before {
  content: '';
  bottom: 170px;
  height: 80px;
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .month-container .card-graph-month .month-activity:nth-child(5)::before {
  content: '';
  bottom: 200px;
  height: 140px;
  background-color: #e76f51;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .month-container .card-graph-month .month-activity:nth-child(6) {
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .month-container .card-graph-month .month-activity:nth-child(6)::before {
  content: '';
  bottom: 250px;
  height: 100px;
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .month-container .card-graph-month .month-activity:nth-child(7) {
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .month-container .card-graph-month .month-activity:nth-child(7)::before {
  content: '';
  bottom: 200px;
  height: 120px;
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .month-container .card-graph-month .month-activity:nth-child(8)::before {
  content: '';
  bottom: 220px;
  height: 140px;
  background-color: #e76f51;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .month-container .card-graph-month .month-activity:nth-child(9)::before {
  content: '';
  bottom: 250px;
  height: 100px;
  background-color: #e76f51;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .month-container .card-graph-month .month-activity:nth-child(10)::before {
  content: '';
  bottom: 200px;
  height: 80px;
  background-color: #e76f51;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .month-container .card-graph-month .month-activity:nth-child(11) {
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .month-container .card-graph-month .month-activity:nth-child(11)::before {
  content: '';
  bottom: 200px;
  height: 170px;
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .month-container .card-graph-month .month-activity:nth-child(12) {
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .month-container .card-graph-month .month-activity:nth-child(12)::before {
  content: '';
  bottom: 240px;
  height: 80px;
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container {
  display: none;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 300px;
  width: 820px;
  padding: 0 0 40px 50px;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week .week-activity {
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background-color: #e76f51;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week .week-activity::before {
  content: '';
  display: block;
  position: relative;
  bottom: 100px;
  height: 60px;
  width: 20px;
  border-radius: 30px;
  background-color: #e76f51;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week .week-activity:nth-child(1)::before {
  content: '';
  bottom: 180px;
  height: 150px;
  background-color: #e76f51;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week .week-activity:nth-child(2) {
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week .week-activity:nth-child(2)::before {
  content: '';
  bottom: 120px;
  height: 100px;
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week .week-activity:nth-child(3)::before {
  content: '';
  bottom: 200px;
  height: 180px;
  background-color: #e76f51;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week .week-activity:nth-child(4) {
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week .week-activity:nth-child(4)::before {
  content: '';
  bottom: 170px;
  height: 80px;
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week .week-activity:nth-child(5)::before {
  content: '';
  bottom: 200px;
  height: 140px;
  background-color: #e76f51;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week .week-activity:nth-child(6) {
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week .week-activity:nth-child(6)::before {
  content: '';
  bottom: 250px;
  height: 100px;
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week .week-activity:nth-child(7) {
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week .week-activity:nth-child(7)::before {
  content: '';
  bottom: 200px;
  height: 120px;
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week .week-activity:nth-child(8)::before {
  content: '';
  bottom: 220px;
  height: 140px;
  background-color: #e76f51;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week .week-activity:nth-child(9)::before {
  content: '';
  bottom: 250px;
  height: 100px;
  background-color: #e76f51;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week .week-activity:nth-child(10)::before {
  content: '';
  bottom: 200px;
  height: 80px;
  background-color: #e76f51;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week .week-activity:nth-child(11) {
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week .week-activity:nth-child(11)::before {
  content: '';
  bottom: 200px;
  height: 170px;
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week .week-activity:nth-child(12) {
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week .week-activity:nth-child(12)::before {
  content: '';
  bottom: 240px;
  height: 80px;
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week .week-activity:nth-child(13) {
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week .week-activity:nth-child(13)::before {
  content: '';
  bottom: 170px;
  height: 80px;
  background-color: #03045e;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week .week-activity:nth-child(14)::before {
  content: '';
  bottom: 200px;
  height: 80px;
  background-color: #e76f51;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week .week-activity:nth-child(15)::before {
  content: '';
  bottom: 180px;
  height: 150px;
  background-color: #e76f51;
}

.dual-section-cards .card-section-1 .activity-card .activity-card-body .card-graph .month-week-graph-container .week-container .card-graph-week .week-activity:nth-child(16)::before {
  content: '';
  bottom: 200px;
  height: 140px;
  background-color: #e76f51;
}

.card-table {
  border-collapse: separate;
  border-spacing: 0 15px;
  text-align: center;
}

.card-table caption {
  width: 150px;
  font-weight: bolder;
}

.card-table thead tr td {
  padding: 10px 30px;
  font-size: 12px;
  font-weight: bolder;
}

.card-table tbody tr {
  border-spacing: 30px;
  border-radius: 10px 0 10px 0;
}

.card-table tbody tr:nth-child(1) {
  margin-bottom: 40px;
}

.card-table tbody tr:nth-child(1) td span {
  background-color: #fcefb49f;
  color: #ecc743;
  padding: 2px 9px;
  border-radius: 10px;
}

.card-table tbody tr:nth-child(2) {
  margin-bottom: 40px;
}

.card-table tbody tr:nth-child(2) td span {
  display: block;
  background-color: #bfffbc;
  color: #38b000;
  padding: 2px 9px;
  border-radius: 10px;
  width: 60px;
}

.card-table tbody tr:nth-child(3) {
  margin-bottom: 40px;
}

.card-table tbody tr:nth-child(3) td span {
  display: block;
  background-color: #caf0f8;
  color: #48cae4;
  padding: 2px 9px;
  border-radius: 10px;
  width: 60px;
}

.card-table tbody tr td {
  background-color: white;
  padding: 10px 30px;
  font-size: 12px;
}

.card-table tbody tr td img {
  width: 20px;
  height: 20px;
}

.card-table tbody tr td img:nth-child(2) {
  margin-left: -10px;
}

.card-table tbody tr td img:nth-child(3) {
  margin-left: -10px;
}

.card-table tbody tr td:nth-child(1) {
  border-radius: 10px 0 0 10px;
}

.card-table tbody tr td:nth-child(6) {
  font-size: 10px;
}

.card-table tbody tr td:nth-child(7) {
  border-radius: 0 10px 10px 0;
}

.card-section-2 {
  margin: 0 30px;
}

.card-section-2 .card-calender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
  border-radius: 20px;
}

.card-section-2 .card-calender .august-calender {
  display: none;
  width: 300px;
  padding: 20px;
}

.card-section-2 .card-calender .august-calender-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.card-section-2 .card-calender .august-calender-title h5 {
  font-size: 15px;
}

.card-section-2 .card-calender .august-calender-title a {
  margin-left: 10px;
  color: black;
}

.card-section-2 .card-calender .august-calender-weeks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
  font-weight: bolder;
  padding-left: 15px;
}

.card-section-2 .card-calender .august-calender-days {
  padding: 15px 10px;
  width: 260px;
}

.card-section-2 .card-calender .august-calender-days li {
  display: inline-block;
  text-align: center;
  width: 30px;
  padding: 0 10px;
  font-size: 16px;
}

.card-section-2 .card-calender .september-calender {
  width: 300px;
  padding: 20px;
}

.card-section-2 .card-calender .september-calender-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.card-section-2 .card-calender .september-calender-title h5 {
  font-size: 15px;
}

.card-section-2 .card-calender .september-calender-title a {
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}

.card-section-2 .card-calender .september-calender-weeks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
  font-weight: bolder;
  padding-left: 15px;
}

.card-section-2 .card-calender .september-calender-days {
  padding: 15px 10px;
  width: 260px;
}

.card-section-2 .card-calender .september-calender-days li {
  display: inline-block;
  text-align: center;
  width: 30px;
  padding: 0 10px;
  font-size: 16px;
}

.card-section-2 .card-calender .october-calender {
  display: none;
  width: 300px;
  padding: 20px;
}

.card-section-2 .card-calender .october-calender-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.card-section-2 .card-calender .october-calender-title h5 {
  font-size: 15px;
  margin-left: 10px;
}

.card-section-2 .card-calender .october-calender-title a {
  color: black;
}

.card-section-2 .card-calender .october-calender-weeks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
  font-weight: bolder;
  padding-left: 15px;
}

.card-section-2 .card-calender .october-calender-days {
  padding: 15px 10px;
  width: 260px;
}

.card-section-2 .card-calender .october-calender-days li {
  display: inline-block;
  text-align: center;
  width: 30px;
  padding: 0 10px;
  font-size: 16px;
}

.project-card {
  background-color: white;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border-radius: 20px;
}

.project-card-icon {
  font-size: 30px;
  padding: 10px 10px 10px 0;
  color: black;
}

.project-card-title small {
  font-size: 11px;
}

.project-card-title h2 {
  font-size: 15px;
}

.project-card-nav {
  margin-left: auto;
  background-color: #dbe9eeaf;
  padding: 5px 10px;
  border-radius: 10px;
}

.completed-card {
  background-color: white;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border-radius: 20px;
}

.completed-card-icon {
  font-size: 30px;
  padding: 10px 10px 10px 0;
  color: black;
}

.completed-card-title small {
  font-size: 11px;
}

.completed-card-title h2 {
  font-size: 15px;
}

.completed-card-nav {
  margin-left: auto;
  background-color: #dbe9eeaf;
  padding: 5px 10px;
  border-radius: 10px;
}

.earn-card {
  background-color: white;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border-radius: 20px;
}

.earn-card-icon {
  font-size: 30px;
  padding: 10px 10px 10px 0;
  color: black;
}

.earn-card-title small {
  font-size: 11px;
}

.earn-card-title h2 {
  font-size: 15px;
}

.earn-card-nav {
  margin-left: auto;
  background-color: #dbe9eeaf;
  padding: 5px 10px;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */